# ignore .env file
/.env

# ignore .idea folder
/.idea

# ignore .vscode folder
/.vscode

# ignore logs files
/discord.log

# ignore important_file.txt
/important_info.txt

# ignore copy of board img
/images/tictactoe_board_with_piece.png

# ignore file with code tictactoe
/tictactoe.py